var xx=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];
function formatNumber(n) {
  n = n.toString()
  return n[1] ? n : '0' + n
}
var  timestampToTime =  function (time) {
    
  var date =  getDate(time)
    var year = date.getFullYear()
    var month = date.getMonth() + 1
    var day = date.getDate()

    var hour = date.getHours()
    var minute = date.getMinutes()
    var second = date.getSeconds()


    return [year, month, day].map(formatNumber).join('/')
  
}
var numberToChar=function(index){
  if(index>=25){
    return index
  }
  return xx[index]
}
var contain = function (array, index) {
  console.log(array)
  var b = false;
  for (var i = 0; i < array.length; i++) {
    if (array[i] == index) {
      b = true;
      break;
    }
  }
  return b;
}
module.exports = {
  timestampToTime: timestampToTime,
  numberToChar: numberToChar,
  contain: contain
}